{% extends 'base.html.twig' %}
{% block title %}Tertio Informatique{% endblock title %}
{% block content %}
    <section id="hero" class="hero d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 d-flex flex-column justify-content-center">
                    <h1>Nos Solutions sur Mesure</h1>
                    <h2 data-aos="fade-up" data-aos-delay="400">Chez Tertio, nous comprenons que chaque entreprise a des besoins uniques. C'est pourquoi nous proposons des solutions sur mesure pour répondre à vos attentes spécifiques en matière de technologies de l'information. Nos solutions personnalisées sont conçues pour améliorer votre productivité, renforcer votre sécurité et favoriser la croissance de votre entreprise.</h2>
                    <div data-aos="fade-up" data-aos-delay="600">
                        <div class="text-center text-lg-start">
                            <a href="#details" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                                <span>En Savoir Plus</span>
                                <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
                    <img src="{{ asset('assets/img/Solutions/sur-mesure.png') }}" class="img-fluid" alt="Solutions sur Mesure">
                </div>
            </div>
        </div>
    </section>

    <main id="main">
        <section id="details" class="about">
            <div class="container" data-aos="fade-up">
                <div class="row gx-0">
                    <div class="col-lg-12 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
                        <div class="content">
                            <h2><strong>Liaisons Intersites</strong></h2>
                            <p>Facilitez la communication entre vos différents sites avec nos solutions de liaisons intersites. Nous mettons en place des réseaux fiables et sécurisés pour garantir un échange fluide d'informations entre vos locaux, quel que soit leur emplacement géographique.</p>

                            <h2 class="mt-4"><strong>Salle de Réunions, de Formation</strong></h2>
                            <p>Optimisez vos espaces de réunions et de formation avec nos solutions technologiques. Des équipements audiovisuels de pointe aux outils de visioconférence, nous vous aidons à créer des environnements collaboratifs et interactifs pour des réunions et des formations efficaces.</p>

                            <section id="portfolio" class="portfolio">
                                <div class="container" data-aos="fade-up">
                                    <div class="row gy-4 portfolio-container" data-aos="fade-up" data-aos-delay="200">
                                        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                                            <div class="portfolio-wrap">
                                                <img src="{{ asset('assets/img/portfolio/portfolio-1.jpg') }}" class="img-fluid" alt="Laboratoire de langues">
                                                <div class="portfolio-info">
                                                    <h4>Laboratoire de langues</h4>
                                                    <div class="portfolio-links">
                                                        <a href="{{ asset('assets/img/portfolio/portfolio-1.jpg') }}" data-gallery="portfolioGallery" class="portfokio-lightbox" title="Laboratoire de langues"><i class="bi bi-plus"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                                            <div class="portfolio-wrap">
                                                <img src="{{ asset('assets/img/portfolio/portfolio-2.jpg') }}" class="img-fluid" alt="Classe avec tableau numérique">
                                                <div class="portfolio-info">
                                                    <h4>Classe avec tableau numérique</h4>
                                                    <div class="portfolio-links">
                                                        <a href="{{ asset('assets/img/portfolio/portfolio-2.jpg') }}" data-gallery="portfolioGallery" class="portfokio-lightbox" title="Classe avec tableau numérique"><i class="bi bi-plus"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                                            <div class="portfolio-wrap">
                                                <img src="{{ asset('assets/img/portfolio/portfolio-3.jpg') }}" class="img-fluid" alt="Salle de formation">
                                                <div class="portfolio-info">
                                                    <h4>Salle de formation</h4>
                                                    <div class="portfolio-links">
                                                        <a href="{{ asset('assets/img/portfolio/portfolio-3.jpg') }}" data-gallery="portfolioGallery" class="portfokio-lightbox" title="Salle de formation"><i class="bi bi-plus"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>

                            <h2 class="mt-4"><strong>Gestion de Messagerie</strong></h2>
                            <p>Simplifiez la gestion de votre messagerie avec nos solutions adaptées à vos besoins. Que vous optiez pour une solution sur site ou dans le cloud, nous vous proposons des outils de messagerie sécurisés et évolutifs pour une communication efficace au sein de votre entreprise.</p>

                            <h2 class="mt-4"><strong>Solutions Wifi</strong></h2>
                            <p>Offrez à vos collaborateurs et à vos visiteurs un accès internet rapide et sécurisé grâce à nos solutions Wifi performantes. Nous concevons et déployons des réseaux Wifi unifiés pour garantir une connectivité optimale dans tous vos locaux.</p>

                            <h2 class="mt-4"><strong>Affichage Dynamique</strong></h2>
                            <p>Communiquez efficacement avec vos clients et vos collaborateurs grâce à nos solutions d'affichage dynamique. Créez et diffusez du contenu interactif et personnalisé pour informer, divertir et engager votre audience, que ce soit pour de la communication interne ou externe.</p>

                            <p class="highlight">Chez Tertio, nous sommes déterminés à vous fournir des solutions sur mesure qui répondent à vos besoins spécifiques et qui vous aident à atteindre vos objectifs commerciaux. Contactez-nous dès aujourd'hui pour découvrir comment nous pouvons vous proposer une solution adaptée.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock content %}
